@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');

body {
    margin: 0 auto;
    padding: 0;
    font-family: metrophobic;
    color: rgb(22, 73, 54);
   }

.header-container {
    padding: 50px 0 50px 0;
    background-color: rgb(247, 232, 214);
}

.text-container {
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
}

.text-headline {
    width: 100%;
}

.text-body {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.img-container {
    margin: 150px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    padding: 0 5% 0 5%;
    flex-wrap: wrap;
    background-color: rgb(247, 232, 214);
}

.footer-opening-hours {
    width: 20%;
}

.footer-contact-us {
    width: 20%;
    text-align: right;
}